@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(backgroundcart.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 20px;

}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
}

a {
    text-decoration: none;
    color: aliceblue;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

#cart-items {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}

button {
    background-color: #02235c;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #210b44;
    transform: scale(1.05);
}

button:active {
    background-color: #02235c;
    transform: scale(0.95);
}